/* font-family: 'Playfair Display', serif; */
/* font-family: 'Ubuntu', sans-serif; */

body{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}

/* header starts here  */

header{
    padding: 3% 0;
}
.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    width: 10%;
    float: left;
}
.logo a img{
    width: 100%;
}
.menu{
    width: 65%;
    float: right;
}
.menu ul{
    list-style: none;
    float: right;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    margin: 0 50px;
    display: inline-block;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
}
.menu ul li:last-child a{
    margin-right: 0;
}
.menu ul li a:hover{
    color: black;
}
/* header ends here  */

/* banner starts  */

.banner{
    margin-bottom: 2%;
}
.banner img{
    width: 100%;
}

/* banner ends  */

/* photodairy starts  */

.p-dairy{
    padding: 2% 0;
}
.container2{
    width: 80%;
    margin: 0 auto;
}
h6{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: #b4ad9e;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 400;
}
p{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}
/* photodairy starts  */

/* lifestyle starts */

.lifestyle{
    margin: 3% 0;
    overflow: hidden;
}
.l-left{
    width: 45%;
    float: left;
}
.l-left img, .l-right img{
    width: 100%;
}
.l-right{
    width: 45%;
    float: right;
}
/* lifestyle ends */

/* newsletter starts */

.newsletter{
    background-color: #f0f0f0;
    padding: 5% 0;
}
.sign-up{
    margin: 0 auto;
    text-align: center;
}
.sign-up h1{
    margin: 0;
    color: #333333;
    margin-bottom: 5%;
}
.news-form{
    width: 25%;
    position: relative;
    margin: 0 auto;
}
.news-form input{
    width: 85%;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #626262;
    font-weight: 400;
    height: 30px;
    border: none;
    border-bottom: 1px solid #626262;
    background: transparent;
    padding: 0 10% 2% 2%;
}
.news-form input:focus{
    outline: none;
}
.news-form button{
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    top: 25%;
    right: 0;
}
.news-form button:focus{
    outline: none;
}
/* newsletter ends */

/* load more button starts */
.load-more{
    padding: 6% 0;
}
.button{
    width: 10%;
    margin: auto;
    text-align: center;
    border: 1px solid rgb(71, 69, 69);
}
.button a{
    text-decoration: none;
    
}
.button a h6{
    margin: 0;
    color: #626262;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    padding: 8% 12%;
}
/* load more button end */

/* footer section start here */

footer{
    background-color: #f0f0f0;
    padding: 1.5%;
}
.terms{
    width: 27%;
    float: left;
}
.terms ul{
    list-style: none;
}
.terms ul li{
    float: left;
    margin-right: 20px;
    color: #626262;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}
.social-icon{
    width: 12%;
    float: right;
}
.social-icon ul{
    list-style: none;
    float: right;
}
.social-icon ul li{
    float: left;
    margin-right: 18px;
    color: #626262;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

/* footer section end here */